html {
    background-color: color-mix(in srgb, black 90%, white 10%);
}

a:link, a:visited{
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color:color-mix(in srgb, black 40%, white 100%);
}

a:hover{
    color:white;
}

.content {
    max-width: 750px !important;
    margin: auto;
    padding-bottom: 160px
}

.title, .subtitle, .links, .logo, .article {
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,apple color emoji,segoe ui emoji,Segoe UI Symbol,noto color emoji;
}

.links {
    display: block;
    font-size: 20px;
    padding-top: 50px;
    text-align: right;
}

.logo{
    display: block;
    padding-top: 25px;
    padding-right: 50px;
    float: left;
}

.title, .subtitle {
    display: block;
    text-align: left;
    /* border: 10px solid hotpink; */
}

.title {
    color: white;
    font-size: 128px;
    font-weight: bold;
    padding-top: 80px;
}

.subtitle {
    padding-left: 10px;
    color: color-mix(in srgb, grey 100%, white 50%);
    font-size: 22px;
}

.article-list {
    padding-top: 60px;
}

.article {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 10px;
    justify-content: space-between;

    border-bottom: 1px solid grey;
}

.article-title {
    color: white;
    font-size: 24px;
}

.article-date {
    color: color-mix(in srgb, grey 100%, white 30%);
    text-align: right;
    font-size: 22px;
}

.no-border {
    border: none;
}